<!-- HTML template for LCIA comparison view-->
<div>
<button class="btn btn-default btn-small pull-right" ng-csv="csv.getData()" csv-header="csvHeader"
filename="{{csvFileName}}" lazy-load="true" ng-disabled="!gridData.length || !lciaMethods.length">
Export to CSV
</button>
<div class="clearfix"></div>
</div>
<div class="panel panel-default" id="lcia-selection">
    <div class="panel-body">
        <div class="panel panel-default">
            <div id="selection-grid" ng-grid="gridOpts" class="gridStyle"></div>
        </div>
        <form class="form-inline">
            <div class="form-group">
                <label for="component-select">
                    <select id="select-type" ng-model=selection.type>
                        <option value="Fragment" selected>Fragment</option>
                        <option value="Process">Process</option>
                    </select>
                </label>
                <span id="component-select">
                    <select ng-if="selection.isFragment()" ng-model="selection.fragment"
                            ng-options="f.name for f in selection.fragmentOptions">
                    </select>
                    <select ng-if="!selection.isFragment()" ng-model="selection.process"
                            title="Processes with elementary flows"
                            ng-options="p.getLongName() for p in selection.processOptions">
                    </select>
                </span>
            </div>
            <div class="form-group">
                <label for="select-scenario">Scenario</label>
                <select id="select-scenario" ng-model="selection.scenario"
                        ng-options="scenario.name for scenario in selection.scenarioOptions">
                </select>
            </div>
            <div class="form-group">
                <label for="activity-level">Activity Level</label>
                <input type="number" step="any" class="form-control input-sm" id="activity-level"
                       ng-model="selection.activityLevel">
            </div>
            <div class="form-group">
                <label for="chart-label">Chart Label</label>
                <input type="text" maxlength={{maxLabelLen}} class="form-control input-sm" id="chart-label"
                       ng-model="selection.chartLabel">
            </div>
            <button type="submit" class="btn btn-primary btn-sm" ng-click="selection.add()" aria-label="Add"
                    title="Display LCIA results" accesskey="a">
                Add
            </button>
        </form>
    </div>
</div>
<div ng-if="gridData.length" class="row">
    <div ng-repeat="method in lciaMethods" class="col-md-4">
        <div class="panel panel-default">
            <!--<div class="panel-heading" ng-style="{'background-color' : method.getDefaultColor()}">-->

            <button type="button" class="close" ng-click="removeMethod(method)" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <div class="panel-body">
                <a ui-sref="home.lcia-method({lciaMethodID: method.lciaMethodID})">
                    {{method.getShortName()}}
                </a>

                <p>
                    <small>{{method.referenceFlowProperty.name}}</small>
                </p>
                <!--</div>-->
                <svg class="plot-container">
                    <plot config="plot.config[method.lciaMethodID]" data="plot.data[method.lciaMethodID]"></plot>
                </svg>
            </div>
        </div>
    </div>
</div>

