<!-- HTML template for LCIA comparison view-->
<form class="form-inline" >
    <div class="form-group">
        <label>
            <select id="select-type" ng-model=selection.type>
                <option value="Fragment" selected>Fragment</option>
                <option value="Process">Process</option>
            </select>
        </label>
        <select ng-show="selection.isFragment()" ng-model="selection.fragment" style="width:30em"
                ng-options="f.name for f in selection.fragmentOptions">
        </select>
        <select ng-hide="selection.isFragment()" ng-model="selection.process" style="width:30em"
                ng-options="p.getLongName() for p in selection.processOptions">
        </select>
    </div>
    <div class="form-group">
        <label style="margin-bottom:0" for="select-scenario">Scenario</label>
        <select id="select-scenario" ng-model="selection.scenario"
                ng-options="scenario.name for scenario in selection.scenarioOptions">
        </select>
    </div>
    <button type="button" class="btn btn-sm" ng-click="selection.add()" aria-label="Add"
            title="Add to selections">
        Add
    </button>
</form>
<p></p>
<div id="selection-grid" ng-grid="gridOpts" class="gridStyle"></div>
<p></p>
<div class="row" ng-if="gridData.length">
    <div ng-repeat="method in lciaMethods" class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading" ng-style="{'background-color' : method.getDefaultColor()}">
                <button type="button" class="close" ng-click="removeMethod(method)" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                    <a ui-sref="home.lcia-method({lciaMethodID: method.lciaMethodID})">
                        {{method.getShortName()}}
                    </a>
                <p>{{method.referenceFlowProperty.name}}</p>
            </div>
            <div class="panel-body">
                <svg>
                    <plot config="plot.config" data="plot.data[method.lciaMethodID]"></plot>
                  </svg>
              </div>
          </div>
      </div>
  </div>

